### OSX ###
.DS_Store

### Xcode ###
# User settings
xcuserdata/

# Patch
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
**/*.UserInterfaceState.xcuserstate

### CocoaPods ###
Pods/
Pods/Manifest.lock

build
