### OSX ###
.DS_Store

### Xcode ###
# User settings
xcuserdata/

# Patch
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

### CocoaPods ###
Pods/
Podfile.lock
Pods/Manifest.lock
